*{
    margin: 0;
    padding: 0;
}

:root {
  --white: #ffff;
  --beige: #F3E8D2;
  --blue: #7FA8A0;
  --red: #C97E63;
  --green: #8E8C6F;
  --brown: #B6A188;
  --radius: 16px;
}


html{
    font-family: Agrandir;
}


body{
    background-color: var(--beige);
}


#header_homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


#header_homepage p{
    padding: 0 1em 2em 1em;
}


#header_homepage img{
    width: 65%;
    padding: 5em 1em 1.25em 1em;
}


#products{
    padding: 1em;
}


#products h2{
    padding-bottom: 0.75em;
}

#img_products img{
    width: 45%;
    padding-bottom: 1.25em;
}


#img_products{
    display: flex;
    justify-content: center;
    gap: 1em;
}


#products a{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.25rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
}


#shopping{
    display: flex;
    align-items: center;
    justify-content: center;
}


#find{
    padding: 1em;
}


#find h2{
    padding-top: 2em;
}



#find a{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.25rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
}


#find p{
    padding-top: 1em;
}


#find_butten{
    display: flex;
    justify-content: center;
    padding: 1em;
}



#meet_up{
    padding: 1em;
}


#meet_up h2{
    padding-top: 2em;
    padding-bottom: 1em;
}


#meet_up p{
    padding-bottom: 1.25em;
}


#meet_up_img img{
    max-width: 45%;
}



#meet_up_img{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-bottom: 1.25em;
}


#butten_meet_up a{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.25rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
}


#butten_meet_up{
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}


nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1.5em;
    gap: 1em;
    background-color: var(--beige);
    z-index: 1000;
}

nav img {
    height: auto;
}


#products_page h2{
    padding: 2em 1em 1em 1em;
}


#products_page_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#products_page_img_div1 {
    display: flex;
}

#products_page_img_div1 a{
    display: flex;
    justify-content: center;
}


#products_page_img_div2 a{
    display: flex;
    justify-content: center;
}



#products_page_img_div1 img{
    width: 80%;
    padding-bottom: 1em;
}


#products_page_img_div2{
    display: flex;
}



#products_page_img_div2 img{
    width: 80%;
    padding-bottom: 2em;
}



#products_page_bundels{
    padding: 2em 1em 7em 1em;
}



#products_page_bundels h2{
    padding-bottom: 1em;
}


#products_page_bundels a{
    display: flex;
    justify-content: center;
}



#products_page_bundels_padding{
    padding-bottom: 2em;
}



#main_main_product_inspect{
    padding: 1em;

}

#main_main_product_inspect_img{
    display: flex;
    justify-content: center;
}






#main_main_product_inspect h2{
    padding: 2em 0 0 0;
}



#main_main_product_inspect h3{
    padding-bottom: 1em;
    padding-top: 1em;
}


#main_main_product_inspect p{
    padding-bottom: 2em;
}


#div{
    display: flex;
    justify-content: center;
    padding-bottom: 6em;
}





#main_main_product_inspect a{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.25rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
}


#div_div{
    text-align: center;
}


#main_main_product_inspect_img_bundel{
    padding-top: 2em;
    display: flex;
    justify-content: center;
}


#revieuw_bundel {
    padding: 1em;
}



#p_bundel{
    padding: 1em;
}



#a_bundel{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.25rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
}




#main_saved_products{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 7em;
}


#main_saved_products_img{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#main_saved_products_img a{ 
    max-width: 50vw;
    padding: 1em;
}

#main_saved_products_img img{
    width: 100%;
}



#main_saved_products h2{
    text-align: center;
    padding: 2em;

}

#main_saved_products_img_bundel1{
    width: 80%;
    padding-right: 1.1em;
}



#header_accound{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
}

#header_accound h2{
    padding: 1em 0;
}

#header_accound a{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.25rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
}


#header_accound img{
    max-width: 40%;
}


#main_accound{
    text-align: left;
    padding: 1em;
}


#main_accound h3{
    padding: 1em 1em;
}



#main_accound_butten{
    display: flex;
    justify-content: center;
}


#main_accound_butten a{ 
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.25rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
}